body{
    background-image: url(/public/assets/img/back.jpg);
    background-size: cover;
}

.main-calcuator{
    margin-top: 100px;
}

.main-calcuator .card input{
    background-color: #58585800;
    border-color: #58585800;
    height: 100px;
    color: #ffffff;
}

.main-calcuator .card{
    background-color: #58585800;
}

.main-calcuator .card .btn{
    color: #ffffff;
}
